div#Calendar {
  font-family : Roboto, Arial, sans-serif;
  position : fixed;
  top : 0;
  left : 0;
  width : 400px;
}

div.day {
  font-weight: bold;
}

div.event {
  font-size : 1.2em;
  font-weight : normal;
  border : 1px solid darkgray;
  padding-left : 3px;
  border-radius : 10px;
}

