.station {
  font-weight : bold;
}

.school {
  border-radius : 3px;
  background-color : lightgray;
}

.comment {
  font-style : italic;
}


#taft{
  background-color : violet;
}

#jefferson{
  background-color : lightskyblue;
}

#menus {
  position : fixed;
  right : 5px;
  bottom : 5px;
}

.menu {
    border-radius: 10px;
    padding:  3px;
}