.photos {
  position : fixed;
  width : 1920px;
  height : 1080px;
  left : 0px;
  top : 0px;
  z-index : -1; /* Send this to the back */
}

div.photos > div {
  width : 100%;
  height : 100%;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
