#weather{
  width: 1240px;
  height: 150px;
  position : fixed;
  top : 5px;
  left : 460px;
  font-family : sans-serif;
  background-color: rgba(255,255,255,0.5);
  border-radius : 5px;
}

#weather > #current{
  width: 350px;
  height : 100%;
  position : absolute;
}

#weather > #week {
  left : 355px;
  top : 10px;
  float : left;
  position : absolute;
  width: 880px;
}

/* Current box items */
#weather > #current > .currentSummary{
  position : absolute;
  bottom: 1em;
  text-align: left;
  width : 100%;
}

#weather > #current > .currentWind{
  position : absolute;
  bottom: 1.3em;
  left  : 150px;
  width: 72px;
  height: 72px;
}

#weather > #current > .currentWind > .rose{
  position: absolute;
  transform-origin : center;
  transform: rotate(-90deg);
}

#weather > #current > .currentWind > .arrow{
  position: absolute;
  opacity : 40%;
  transform-origin: center;
}

#weather > #current > .currentWind > .speed{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#weather > #current > .currentWind > .arrow > svg,
#weather > #current > .currentWind > .rose > svg{
  width: 72px;
  height: 72px;
}


#weather > #current > .currentTemperature{
  position : absolute;
  font-size : 5em;
  left : 3px;
  text-shadow : 2px 2px darkgray;
}

.currentTemperature > svg {
    height: 25px;
    vertical-align: top;
}

#weather > #current > .feels_like{
  position : absolute;
  font-size : 2em;
  left : 170px;
  text-shadow : 2px 2px darkgray;
}

.feels_like > svg {
    height: 15px;
    vertical-align: top;
}

#weather > #current > .currentPop{
  position : absolute;
  left : 2px;
  bottom: 2em;
}

#weather > #current > .currentIcon{
  position : absolute;
  right: 25px;
}

.currentIcon > svg{
  height : 96px;
  width : 96px;
}


#weather > #current > .alert{
  position: absolute;
  font-size: 2em;
  color: red;
  right: 0px;
}

#weather > #current > .alert-title{
  bottom: 0;
  position : absolute;
  text-align : center;
  width : 100%;
  color : red;
}


/* daily forecast items */
#week > .weekSummary {
  text-align : center;
}

#week > .day > .dayContainer {
  height : 100px;
  width : 100%;
  position : relative;
}


#week > .day {
  top: 25px;
  width : 106px;
  float : left;
  border : black 1px solid;
  border-radius : 5px;
  margin : 1px;
}

.day > .dayName{
  width : 100%;
  text-align : center;
  font-weight : bold;
}

.dayContainer > .dailyLow{
  position : absolute;
  bottom : 1px;
  left : 2px;
}

.dayContainer > .dailyHigh{
  position : absolute;
  top : 1px;
  left : 2px;
}

.dayContainer > .dailyHigh > svg,
.dayContainer > .dailyLow > svg,
.dayContainer > .dailyPop > svg {
  height : 15px;
  width: 15px;
}
.dayContainer > .dailyPop{
  position : absolute;
  top : 1px;
  right : 2px;
}

.dayContainer > .dailyIcon{
  position : absolute;
  left : 30px;
  top : 25px;
}


.dayContainer > .dailyIcon > svg{
  height : 48px;
  width : 48px;
}

.dayContainer > .sunrise{
  position : absolute;
  left : 2px;
  top : 1px;
}

.dayContainer > .sunset{
  position : absolute;
  left : 2px;
  bottom : 1px;
}


.dayContainer > .sunrise > svg,
.dayContainer > .sunset > svg {
  height : 20px;
  fill : grey;
  margin-left : -8px;
  margin-right : -8px;
}

.moonphase > svg {
  position : absolute;
  height : 50px;
  left: 42px;
  top: 25px;
  fill : grey;
}
